<div class="w-full h-20 flex items-center justify-between px-4 md:px-6 bg-gray-50 ">
  <div class="relative w-64">
    <input
      z-input
      zSize="default"
      class="pl-9 pr-4 w-full bg-white rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
      type="search"
      placeholder="Search..."
    />
    <i class="icon-search absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
  </div>

  <div class="hidden md:block w-45">
    <div class="relative">
      <z-date-picker
        zType="ghost"
        [value]="selectedDate()"
        placeholder="Pick a date"
        (dateChange)="onDateChange($event)"
        class="rounded-lg"
        buttonClass="min-w-[180px]"
      />
      <i class="icon-chevron-down absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
    </div>
  </div>

  <div class="flex items-center gap-6">
    <div class="flex items-center gap-3">
      <button z-button zType="ghost" class="text-2xl relative p-2 hover:bg-gray-100 rounded-lg">
        <div class="icon-message-circle-more text-gray-500 text-xl"></div>
      </button>
      <button z-button zType="ghost" class="text-2xl relative p-2 hover:bg-gray-100 rounded-lg">
        <div class="icon-bell text-gray-500 text-xl"></div>
        <z-badge class="absolute -top-1 right-0 bg-yellow-400 hover:bg-yellow-400 text-black text-[7px] px-1.5 py-0.5 rounded-full shadow">1</z-badge>
      </button>
    </div>

    <div class="flex items-center gap-3">
      <div class="flex items-center gap-2">
        <z-avatar [zImage]="zImageDefault" zShape="circle" class="w-10 h-10" />
        <div class="flex flex-col">
          <h5 class="text-sm font-medium text-gray-800">Matheus</h5>
          <span class="flex gap-1 font-medium text-xs text-gray-500"><div class="icon-heart text-red-400"></div> ZardUI</span>
        </div>
      </div>
      <span>
         <button z-button zType="outline" zShape="circle" class="w-[5px] h-3 p-[10px] bg-transparent">
          <div class="icon-chevron-down text-gray-500"></div>
        </button>
      </span>
    </div>
  </div>
</div>
