<div class="flex flex-col gap-10">
  <div class="flex flex-col lg:flex-row items-start lg:items-center justify-between gap-4 lg:gap-10">
    <h2 class="ml-0 lg:ml-4 text-2xl lg:text-3xl font-semibold text-gray-600">Dashboard</h2>
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 lg:gap-10 w-full lg:w-auto">
      <div class="relative w-full sm:w-auto">
        <z-select placeholder="By day">
          <z-select-item value="apple">By day</z-select-item>
        </z-select>
      </div>
      <button
        z-button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg flex items-center gap-2 hover:bg-blue-600 transition w-full sm:w-auto justify-center"
      >
        <div class="icon-badge-plus"></div>
        <span class="whitespace-nowrap">Create new</span>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-10">
    <z-card
      class="w-full lg:col-span-2 bg-white rounded-2xl shadow py-8 px-6 md:py-0 md:px-4 lg:p-16 flex justify-between items-center relative"
    >
      <div class="w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 md:gap-0">
          <div class="w-full order-2 lg:order-1">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-medium text-gray-800 mb-4 lg:mb-8 text-center lg:text-left">Hi, Matheus!</h1>
            <p class="text-gray-500 mb-6 font-normal text-center lg:text-left">What are we doing today?</p>

            <div class="grid grid-cols-2 md:grid-cols-2 gap-4 text-sm">
              <a
                href="#"
                class="flex items-center gap-x-2 md:gap-x-2 lg:gap-x-6 text-lg font-medium text-gray-700 justify-start"
              >
                <div class="icon-circle-arrow-right text-blue-400"></div>
                <p class="text-base hover:text-blue-400 hover:border-b-2 hover:border-blue-400">Check Calendar</p>
              </a>
              <a
                href="#"
                class="flex items-center gap-x-2 md:gap-x-2 lg:gap-x-6 text-lg font-medium text-gray-700 justify-start"
              >
                <div class="icon-circle-arrow-right rounded-full text-yellow-400"></div>
                <p class="text-base hover:text-blue-400 hover:border-b-2 hover:border-blue-400">Manage Wallet</p>
              </a>
              <a
                href="#"
                class="flex items-center gap-x-2 md:gap-x-2 lg:gap-x-6 text-lg font-medium text-gray-700 justify-start"
              >
                <div class="icon-circle-arrow-right rounded-full text-red-400"></div>
                <p class="text-base hover:text-blue-400 hover:border-b-2 hover:border-blue-400">Manage Workers</p>
              </a>
              <a
                href="#"
                class="flex items-center gap-x-2 md:gap-x-2 lg:gap-x-6 text-lg font-medium text-gray-700 justify-start"
              >
                <div class="icon-circle-arrow-right rounded-full text-green-400"></div>
                <p class="text-base hover:text-blue-400 hover:border-b-2 hover:border-blue-400">Manage Projects</p>
              </a>
            </div>
          </div>

          <div class="hidden md:flex justify-center order-1 lg:order-2 lg:absolute lg:right-4 lg:-top-25">
            <img src="/png/cat.png" alt="cat" class="w-60 h-64 md:w-70 md:h-80 lg:w-115 lg:h-120 -mt-4 lg:-mt-10" />
          </div>
        </div>
      </div>
    </z-card>

    <div class="flex flex-col gap-4 order-3 lg:order-2">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2 text-gray-700 font-medium text-xl">
          <div class="icon-bell"></div>
          Notifications
        </div>
        <button
          z-button
          zType="ghost"
          class="text-blue-900 text-sm font-medium"
        >
          See all
        </button>
      </div>

      <div class="flex flex-col gap-5">
        <z-card
          class="w-full bg-white rounded-2xl shadow p-4 flex justify-between items-start"
        >
          <div class="w-full flex items-center gap-3 font-medium">
            <div class="flex-1 flex space-x-4 items-start">
              <div
                class="bg-yellow-300 my-auto min-w-[40px] w-10 h-10 rounded-xl flex items-center text-2xl justify-center"
              >
                <div class="icon-badge-info text-white "></div>
              </div>
              <p class="text-base text-gray-600">
                You've added new project recently, with no deadline.
              </p>
            </div>
             <button z-button zType="outline" zShape="circle" class="w-[5px] h-3 p-[10px]">
              <div class="icon-chevron-right text-gray-500"></div>
            </button>
          </div>
        </z-card>

        <z-card
          class="w-full bg-white rounded-xl shadow p-4 flex justify-between items-start"
        >
         <div class="w-full flex items-center gap-3 font-medium">
            <div class="flex-1 flex space-x-4 items-start">
              <div
                class="bg-red-500 my-auto min-w-[40px] w-10 h-10 rounded-xl flex items-center text-2xl justify-center"
              >
                <div class="icon-badge-info text-white"></div>
              </div>
              <p class="text-base text-gray-600">
                Project owner Adam request a refund
              </p>
            </div>
            <button z-button zType="outline" zShape="circle" class="w-[5px] h-3 p-[10px]">
              <div class="icon-chevron-right text-gray-500"></div>
            </button>
          </div>
        </z-card>

        <z-card
          class="w-full bg-white rounded-xl shadow p-4 flex justify-between items-start"
        >
          <div class="w-full flex items-center gap-3 font-medium">
            <div class="flex-1 flex space-x-4 items-start">
              <div
                class="bg-blue-500 my-auto min-w-[40px] w-10 h-10 rounded-xl flex items-center text-2xl justify-center"
              >
                <div class="icon-badge-info text-white"></div>
              </div>
              <p class="text-base text-gray-600">
                Today, it's Tatia's anniversary! <br />
                <span class="font-normal text-sm"
                  >Wish her happy birthday!</span
                >
              </p>
            </div>
            <button z-button zType="outline" zShape="circle" class="w-[5px] h-3 p-[10px]">
              <div class="icon-chevron-right text-gray-500"></div>
            </button>
          </div>
        </z-card>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <z-card class="w-full bg-white rounded-2xl shadow p-3 md:p-4 lg:p-6 flex flex-col gap-4">
      <div class="flex justify-between items-start mb-2">
        <div class="text-4xl lg:text-5xl">
          <div class="icon-wallet text-red-400 text-xl"></div>
        </div>
        <button z-button zType="ghost" class="text-lg hover:bg-gray-100 rounded">
          <div class="icon-ellipsis-vertical text-gray-500"></div>
        </button>
      </div>
      <div>
        <p class="text-lg mb-4 text-gray-500">
          Potencial <br class="hidden lg:block" />
          Monthly Profit
        </p>
        <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800">$24.042,000</h3>
      </div>
    </z-card>

    <z-card class="w-full bg-white rounded-2xl shadow p-3 md:p-4 lg:p-6 flex flex-col gap-4">
      <div class="flex justify-between items-start mb-2">
        <div class="text-4xl lg:text-5xl">
          <div class="icon-file-text text-green-600 text-xl"></div>
        </div>
        <button z-button zType="ghost" class="text-lg hover:bg-gray-100 rounded">
          <div class="icon-ellipsis-vertical text-gray-500"></div>
        </button>
      </div>
      <div>
        <p class="text-lg mb-4 text-gray-500">
          Workers Wage <br class="hidden lg:block" />
          This Month
        </p>
         <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800">$8.402,000</h3>
      </div>
    </z-card>

    <z-card class="w-full bg-white rounded-2xl shadow p-3 md:p-4 lg:p-6 flex flex-col gap-4">
      <div class="flex justify-between items-start mb-2">
        <div class="text-4xl lg:text-5xl">
          <div class="icon-calendar-range text-purple-600 text-xl"></div>
        </div>
        <button z-button zType="ghost" class="text-lg hover:bg-gray-100 rounded">
          <div class="icon-ellipsis-vertical text-gray-500"></div>
        </button>
      </div>
      <div>
        <p class="text-lg mb-4 text-gray-500">
          Average <br class="hidden lg:block" />
          Project Length
        </p>
         <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800">2 weeks</h3>
      </div>
    </z-card>

    <z-card class="w-full bg-white rounded-2xl shadow p-3 md:p-4 lg:p-6 flex flex-col gap-4">
      <div class="flex justify-between items-start mb-2">
        <div class="text-4xl lg:text-5xl">
          <div class="icon-chart-pie text-orange-500 text-xl"></div>
        </div>
        <button z-button zType="ghost" class="text-lg hover:bg-gray-100 rounded">
          <div class="icon-ellipsis-vertical text-gray-500"></div>
        </button>
      </div>
      <div>
        <p class="text-lg mb-4 text-gray-500">
          Average <br class="hidden lg:block" />
          Income per Project
        </p>
         <h3 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800">$12,000</h3>
      </div>
    </z-card>
  </div>
</div>
